body {
  background-color: #ffe6f0;
  font-family:cursive;
  text-align: center;
  padding:50px;
}

.box {
  background:white;
  padding:30px;
  border-radius:20px;
}

button {
  background-color: #ff4d94;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
}
